spacy
torch
torchvision
torchaudio
torchtext
lightgbm
xgboost
catboost
jax[cpu]
tensorflow
tensorflow-io
tensorflow_text
opencv-contrib-python
opencv-python
scipy
scikit-learn
h5py
biopython
cantera
pybiomed
chempy
chemlib
mendeleev
numba
scikit-optimize
plotly
pydicom
wavio
PyAstronomy
astroML
sunpy[all]
mock
pytest
certifi
ipykernel
ipython
ipython-genutils
ipywidgets
isoweek
jsonschema
jupyter-client
jupyter-console
jupyter-core
jupyterlab-lsp
MarkupSafe
nbformat
notebook
nbconvert
python-lsp-server[all]
pandas_summary
pandoc
pandocfilters
pickleshare
wandb
gymnasium
tensorflowjs
albumentations
accelerate
keras-core
keras-cv
huggingface_hub
transformers
datasets
pydub
torchmetrics
pytorch-lightning
ultralytics
sympy
pycryptodome
onnx
onnxruntime
openpyxl
gradio
