torch
torchvision
torchaudio
torchtext
lightgbm
xgboost
catboost
jax[cpu]
tensorflow
opencv-contrib-python
opencv-python
scipy
scikit-learn
h5py
biopython
cantera
pybiomed
chempy
chemlib
mendeleev
numba
plotly
pydicom
wavio
PyAstronomy
astroML
sunpy[all]
pytest
ipykernel
ipython
ipywidgets
jupyter-client
jupyter-console
jupyter-core
jupyterlab-lsp
MarkupSafe
nbformat
notebook
nbconvert
python-lsp-server[all]
pandoc
pickleshare
wandb
gymnasium
tensorflowjs
albumentations
accelerate
huggingface_hub
transformers
datasets
pydub
torchmetrics
pytorch-lightning
ultralytics
pycryptodome
onnx
onnxruntime
openpyxl
gradio
