spacy
torch
torchvision
torchaudio
torchtext
lightgbm
xgboost
catboost
jax[cpu]
tensorflow
tensorflow-io
tensorflow-addons
tensorflow_decision_forests
tensorflow_text
opencv-contrib-python
opencv-python
scipy
scikit-learn
scikit-learn-intelex
h5py
biopython
cantera
pybiomed
chempy
chemlib
mendeleev
numba
imgaug
preprocessing
path.py
scikit-optimize
plotly
geojson
pydicom
wavio
SimpleITK
bayespy
PyAstronomy
astroML
sunpy[all]
sklearn-pandas
scikit-plot
plotnine
mock
pytest
certifi
decorator
entrypoints
ipykernel
ipython
ipython-genutils
ipywidgets
isoweek
jsonschema
jupyter-client
jupyter-console
jupyter-core
jupyterlab-lsp
MarkupSafe
nbformat
notebook
nbconvert
python-lsp-server[all]
pandas_summary
pandoc
pandocfilters
pickleshare
fastai
wandb
gymnasium
tensorflow_hub
tensorflowjs
albumentations
accelerate
keras-core
keras-cv
keras-nlp
pytorch-ignite
huggingface_hub
transformers
datasets
geopandas
pydub
torchmetrics
pytorch-lightning
ultralytics
sympy
flask
pycryptodome
easyocr
onnx
onnxruntime
openpyxl
gradio